In [2]:
name = input('enter your name: ')
print("hello", name)
print("welcome")

enter your name: rama
hello rama
welcome

In [3]:
x=int(input("enter the temperature in celsius: "))
y=(x*1.8)+32
print("temperature in farenhit is ", y)

enter the temperature in celsius: 56
temperature in farenhit is  132.8

In [18]:
x = int(input("enter hours: "))
y= int(input("enter rate: "))
r=x-40
z=(40*y)+(r*1.5*y)
print(z)
print("pay:",z)

enter hours: 50
enter rate: 10
550.0
pay: 550.0

In [21]:
try:
    int(input("enter hours: "))
    int(input("enter rate: "))
except:
    print("Error,please enter numeric input")

enter hours: 20
enter rate: nine
Error,please enter numeric input

In [29]:
smallest= x
for num in [45,708,86,102,3,321,444]:
    if num<x:
        smallest=num
print("smallest num in 45,708,86,102,3,321,444 is",smallest)

smallest num in 45,708,86,102,3,321,444 is 3